/*-------stylize navigation for desired effect---------*/
.navigation {
  list-style: none;
  background: #566787; 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  /* left: 2; */
  /*hides nav behind content */
  z-index: 0;
  /*get rid of color gap on top of menu*/
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #ffffff; /*white*/
}

li.nav-item {
  padding: 20px;
  font-size: 22px;
}
/*--------end of navigation styling--------*/

.site-wrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #566787; /* white */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 2em; /*spaces out content from hamburger*/
}

/*----stylize nav-trigger actions and looks-----*/
/*hide the checkbox*/
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /*nav stays in the same spot as user scrolls*/
  position: fixed;
  /*position hamburger menu*/
  top: 15px;
  left: 15px;
  /*z-index needs to be 1 higher than site-wrap*/
  z-index: 2;
  width: 30px;
  height: 30px;
  /*changing to pointer indicates interactivity*/
  cursor: pointer;
  color: #111111;
}

/*styling to create "hamburger" icon (refer to notes)*/
.hidden_nav:before {
  content: "";
  position: absolute;
  top: 1em;
  width: 2em;
  height: 0.25em;
  border-top: 0.7em double #000;
  border-bottom: 0.25em solid #000;
  z-index: 3;
}

/*the following lines make the effect work*/
/*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
/*uses adjacent sibling selector (+)--> nav-trigger:checked must come first so label moves after checkbox is activated*/
.nav-trigger:checked + label {
  left: 200px;
}

/*ensures that the site-wrap is pushed to the right*/
/*uses general sibling selector (~) to target site wrap after nav-trigger gets activated*/
.nav-trigger:checked ~ .site-wrap {
  left: 180px;
}

/*add slight transition to effect*/

.nav-trigger + label,
.site-wrap {
  transition: left 0.2s;
}

/*keep site-wrap from scrolling across window from left to right when menu is opened*/
body {
  overflow-x: hidden;
}
/*----end of styling navigation actions and looks----*/

/*---end of what is required for sliding hamburger drawer effect--*/

p {
  padding-right: 120px;
}
